*{
	padding:0;
	margin: 0;
	text-decoration-style: none;
	line-height: 1;
	cursor: pointer;
}
.login{
	width:960px;
	margin: 0 auto;
	background: #323b55;
	height: 225px;
	position: relative;

}
.login-form{
	top:30%;
	left: 30%;
	position: absolute;
}
.login-user{
	height: 28px;
	width: 140px;
	padding-bottom: 20px:;
	display:block;
}
.login-user input{
	height: 28px;
	width: 140px;
	line-height: 32px;
}
.login-pass{
	height: 32px;
	width: 140px;
	padding-bottom: 20px:;
	display:block;
}
.login-pass input{
height: 28px;
	width: 140px;
	line-height: 32px;
}

.login-sub{
	width: 38px;
	height: 28px;
	background: #6085EF;
	display: block;
	border: 1px solid rgba(0,0,0,.50);
	text-align: center;
	margin-left:  60px;
	color: #FFFFFF;
	line-height: 28px;
	text-align: center;
	font-family: "Micsoft Yahei","微软雅黑";
}